@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Todo Scheduler</h1>
    <p class="lead text-primary">created by: Mirza Ghulam Rasyid</p>
</div>
